.cast,
.review {
    font-size: 30px;
    color: var(--color);
    transition: color 0.4s;
    text-decoration: underline;
}

.cast:hover,
.review:hover {
    color: var(--hover-color-text);
}

.videoModal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba(201, 162, 45, 0.7),
        inset 0 0 30px 10px rgba(201, 162, 45, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    z-index: 3;
    max-width: 100%;
    min-height: 500px;
}

.iconBackModal {
    position: absolute;
    display: flex;
    fill: var(--color);
    top: 20px;
    left: 20px;
    z-index: 200;
    cursor: pointer;
    width: 30px;

}