.genre__list__container {
    margin-top:150px;
}

.genre__title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 174, 174);
    text-transform: uppercase;
}