.form {
    display: inline-flex;
    position: relative;
    margin-top: 100px;
}

.input__search {
    box-sizing: border-box;
    background-color: var(--white);
    border: 1px solid grey;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--black);
}

.input__search:focus {
    border: 1px solid var(--color);
    box-shadow: var(--box-shadow);
}

.input__search::placeholder {
    color: var(--black);
    opacity: 0.5;
}

.search__btn {
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

