.header {
    background: var(--background-header);
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: var(--box-shadow-header);
}

.navigationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.navContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.WrapperLangAndTheme {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

